<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="studentbean" class="com.myapp.Student">
		<property name="name" value="Vimal Jaiswal"></property>
	</bean>

	<bean id="personBean" class="com.myapp.Person">
		<property name="id" value="12" />
		<property name="name" value="Rahul" />
		<property name="age" value="40" />
		<property name="alive" value="true" />
	</bean>

	<bean id="personeBean2" class="com.myapp.Person2">
		<constructor-arg value="10" name="id" />
		<constructor-arg value="Soham" name="name" />
		<constructor-arg value="50" name="age" />
		<constructor-arg value="true" name="alive" />
	</bean>


	<bean id="addressBean" class="com.myapp.Address">
		<property name="address" value="Nagpur" />
	</bean>

	<bean id="personeBean3" class="com.myapp.Person3">
		<property name="address" ref="addressBean" />
	</bean>


	<bean id="personBean4" class="com.myapp.Person4">

		<constructor-arg name="name" value="Soham" />

		<constructor-arg name="cityName">
			<list>
				<value>Nagpur</value>
				<value>Hyd</value>
				<value>Delhi</value>
			</list>
		</constructor-arg>

		<constructor-arg name="stateName">
			<set>
				<value>Nagpur</value>
				<value>Hyd</value>
				<value>Delhi</value>
			</set>
		</constructor-arg>

		<constructor-arg name="userData">
			<map>
				<entry key="1" value="Rohan Roy"></entry>
				<entry key="2" value="Sachin Yadav"></entry>
			</map>
		</constructor-arg>

	</bean>


	<bean id="personBean5" class="com.myapp.Person4">
		<property name="name" value="Rohan" />
		<property name="cityName">
			<list>
				<value>Nagpur</value>
				<value>Hyd</value>
				<value>Delhi</value>
			</list>
		</property>
		<property name="stateName">
			<set>
				<value>Nagpur</value>
				<value>Hyd</value>
				<value>Delhi</value>
			</set>
		</property>
		<property name="userData">
			<map>
				<entry key="1" value="Rohan Roy"></entry>
				<entry key="2" value="Sachin Yadav"></entry>
			</map>
		</property>
	</bean>
</beans>