<web-app
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
    version="2.5">


	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>configCheck</servlet-name>
		<jsp-file>/configCheck.jsp</jsp-file>

		<init-param>
			<param-name>drivername</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>configCheck</servlet-name>
		<url-pattern>/configCheck</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>collagename</param-name>
		<param-value>YCCE</param-value>
	</context-param>

</web-app>
